.app {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.btn {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
  background: #eee;
  padding: 20px;
  user-select: none;
  touch-action: none;
}

.btn:active {
  background: rgb(23, 132, 255);
}

.pointer-visualization {
  z-index: 5;
  pointer-events: none;

  --half-height: calc(-1 * var(--height) / 2);
  --half-width: calc(-1 * var(--width) / 2);

  position: absolute;
  top: var(--y);
  left: var(--x);
  height: var(--height);
  width: var(--width);
  transform: translate(var(--half-width), var(--half-height));

  background: rgb(150, 150, 150);
  border-radius: 50%;

  display: grid;
  place-items: center;

  /* width: 50px;
  height: 50px; */
  background: black;
}

.pointer-visualization-modded {
  background: transparent;
  border: 1px solid #888;
}

.pointer-visualization-tapped {
  background: rgb(5, 126, 255);
}

.pointer-visualization-modded.pointer-visualization-tapped {
  background: transparent;
  border: 3px solid blue;
  /* background: rgb(23, 132, 255); */
}

.pointer-visualization-center {
  pointer-events: none;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background: white;
}

.pointer-visualization-modded .pointer-visualization-center {
  background: black;
}
